/*========== Geral ==========*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*========== Google Fontes ==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*========== Variaveis ==========*/
:root {
  --header-height: 5rem;

  /*==========  modos de cor ==========*/
  --laranja: #EC7000;
  --azul: #106EB0;
  --cinza: #4E4B59;
  --preto: #202124;
  --border-shadow: rgba(100, 80, 57, 0.1);
  --verde: #4FEA52;
  --verde-hover: #4FEA90;

  /*========== Fonte e tipografia ==========*/
  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Peso da fonte ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margens dos botões ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-15: 1.15rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-25: 2.25rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;

  /*========== Tamanho ==========*/
  --w-max: 1246px;
  --w-max-half: 500px;

  --w-full: 100%;
  --w-half: 50%;

  /*========== Z index - Posição ==========*/
  --z-zero: 0;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

  /*========== Estilização CSS ==========*/

  body {
    font-family: var(--body-font);
  }

.cabecalho {
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--w-full);
  height: var(--header-height);
  background-color: var(--laranja);
}

.nav-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 19%;
  height: var(--w-full);
  z-index: var(--z-zero);
  background-color: var(--azul);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--w-full);
  max-width: var(--w-max);
  padding: 0 15px;
  margin: 0 auto;
}

.nav-child {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 2;
  width: 290px;
}

.nav-antec {
  display: flex;
  align-items: center;
  background-color: var(--azul);
  height: var(--header-height);
  z-index: var(--z-tooltip);
}

.span-simple {
  color: white;
  font-weight: bold;
}

.section-main {
  width: var(--w-full);
  height: 600px;
  background-image: url("../assets/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--w-full);
  max-width: var(--w-max);
  padding: 0 15px;
  margin: 0 auto;
}

.section-hero-child {
  flex: 1;
  max-width: var(--w-max-half);
}

.h1-hero {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: var(--mb-1);
}

.p-hero {
  color: white;
  font-size: var(--mb-1-5);
  max-width: 408px;
  margin-bottom: var(--mb-2);
}

.container-whats {
  margin-bottom: var(--mb-3);
  color: white;
  background-color: var(--verde);
  width: 240px;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: var(--mb-1);
}

.container-whats img {
  width: 40px;
}

.container-whats:hover {
  background-color: var(--verde-hover);
  transition: all ease 0.5s
}

.a-services {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.a-services span {
  color: white;
  font-size: var(--mb-1);
  font-weight: bold;
}

.img-woman {
  margin-right: -41px;
  width: 600px;
}

.section-services {
  position: relative;
  width: var(--w-max);
  height: 1020px;
  padding: 0 50px;
}

.section-services-child {
  flex: 1;
  max-width: 594px;
  padding-top: var(--mb-4);
}

.section-services-child span {
  color: var(--laranja);
  font-size: var(--mb-1);
  font-weight: bold;
}

.section-services-child h2 {
  color: var(--preto);
  font-size: 54px;
  font-weight: bold;
  margin: 16px 0;
}

.p-services {
  color: var(--preto);
  font-size: var(--mb-1-15);
  max-width: 554px;
  margin-bottom: var(--mb-4);
}

.ul-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--mb-2-25);
}

.li-container {
  display: flex;
  align-items: center;
  gap: var(--mb-2-25);
}

.li-container-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.li-container-child img{
  width: 20px;
}

.li-container-child p {
  flex: 1;
  color: var(--cinza);
  padding-right: var(--mb-2);
}

.container-stores {
  display: flex;
  gap: var(--mb-1);
  padding-left: var(--mb-2-25);
  width: var(--w-full);
  border-bottom: 1px solid var(--border-shadow);
}

.container-stores a {
  margin-bottom: var(--mb-1);
}

.li-items {
  display: flex;
  align-items: center;
  gap: var(--mb-2-25);
  padding-bottom: var(--mb-2-25);
  border-bottom: 1px solid var(--border-shadow);
}

.li-items-child {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li-items-child p {
  flex: 1;
  color: var(--cinza);
  padding-right: var(--mb-2);
}

.container-services-whats {
  background-color: var(--verde);
  margin: var(--mb-1) auto;
  width: 288px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.container-services-whats:hover {
  background-color: var(--verde-hover);
  transition: all ease 0.5s
}

.container-services-whats a {
  display: flex;
  align-items: center;
  gap: var(--mb-1);
}

.container-services-whats a img {
  width: var(--mb-2-5);
}

.container-phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 23%;
  height: var(--w-full);
  display: flex;
  align-items: center;
}

.container-phone img {
  transform: translateX(-50%);
}

/*========== Telas pequenas ==========*/

@media screen and (max-width: 568px) {
  .cabecalho {
    height: 60px;
  }
  
  .nav-header {
    width: 20%;
    height: 60px;
  }

  .nav-link {
    width: 190px;
  }
  
  .nav-antec {
    height: 60px;
    font-size: 15px;
    padding-left: 10px;
  }

  .h1-hero {
    padding-top: 30px;
    font-size: 47px;
  }

  .p-hero {
    font-size: 22px;
  }

  .img-woman {
    display: none;
  }

  .section-services {
    width: var(--w-full);
    padding: 0 10px;
  }
  
  .section-services-child span {
    font-size: var(--mb-0-1);
  }
  
  .section-services-child h2 {
    font-size: 35px;
  }

  .p-services {
    font-size: var(--mb-1);
    margin-bottom: var(--mb-2);
  }

  .container-phone {
    display: none;
  }

  .li-items-child {
    width: 50px;
  }

}